body{
    font-family: 'Comic sans MS';
}
.site-heading-lower{
    font-family: 'Times New Roman', Times, serif;
}
.mb-3{
    font-family: 'Comic Sans MS';
}
#mainNav{
    background-color: darkgreen;
}